body {
  margin: 0px;
  padding: 0px;
}

.App {
  text-align: center;
  font-family:
    Proxima Nova,
    Arial,
    sans-serif;
}

.node:active path,
.node:hover path,
.node.current path,
.node:active polygon,
.node:hover polygon,
.node.current polygon {
  stroke: black;
  stroke-width: 5;
}

.edge:active path,
.edge:hover path,
.edge.to path,
.edge:active polygon,
.edge:hover polygon,
.edge.to polygon {
  stroke: rgb(226, 24, 24);
  stroke-width: 5;
}

.edge:active path,
.edge:hover path,
.edge.from path,
.edge.current path,
.edge:active polygon,
.edge:hover polygon,
.edge.from polygon,
.edge.current polygon {
  stroke: rgb(7, 198, 67);
  stroke-width: 5;
}

svg text {
  font-weight: 600;
}

.edge,
.node,
.cluster {
  cursor: pointer;
}

#graph svg {
  margin-top: 90px;
  width: 50%;
  height: 50%;
}
